Hello World!

<% if current_user.try(:admin?) %>
  ADMIN
<% else %>
  NO ADMIN
<% end %>


<script>
  $(function() {
    $('#mySchool').modal({backdrop: 'static', keyboard: false, show: true})
  });
</script>

<!-- Modal -->
<div class="modal fade" id="mySchool" tabindex="-1" role="dialog" aria-labelledby="mySchoolLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="mySchoolLabel">Seleccione Escuela</h4>
      </div>
      <div class="modal-body">
        Elija la escuela con la que desea operar:
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Seleccionar</button>
      </div>
    </div>
  </div>
</div>