<script>

	$(document).ready(function() {


		/* initialize the external events
		-----------------------------------------------------------------*/
		$('#external-events .fc-event').each(function() {

			// store data so the calendar knows to render an event upon drop
			var eventData = $(this).data('event');
			$.extend(eventData, {			
				title: $.trim($(this).text()), // use the element's text as the event title
				stick: true, // maintain when user navigates (see docs on the renderEvent method)
				allDay: true
			});
			$(this).data('event', eventData);
			
			// make the event draggable using jQuery UI
			$(this).draggable({
				zIndex: 999,
				revert: true,      // will cause the event to go back to its
				revertDuration: 0  //  original position after the drag
			});

		});



		/* initialize the calendar
		-----------------------------------------------------------------*/
		$('#calendar').fullCalendar({
			header: {
				left: '',
				center: 'title',
				right: 'prev,next today'
			},
	    monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
		  monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
		  dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
		  buttonText: {
	      today: 'Hoy',
	      month: 'month',
	      week: 'week',
	      day: 'day'
	    },
		  dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
			aspectRatio: 1.35,
			editable: true,
			droppable: true, // this allows things to be dropped onto the calendar
			/*
			drop: function(date) {
				alert('DROP');
			},
			*/
			eventReceive: function(event){
				/*ACA VA EL CODIGO PARA CUANDO QUIERO AGREGAR MENUES*/
				$.ajax({
						url: "/menus",
						type: "POST",
						data: { menu: {
							fecha: event.start.format(),
							food_id: event.foodId
						}},
						dataType: "JSON",
						success: function(resp){
							event.id = resp.menuId;
							if(event.id){
								$('#calendar').fullCalendar('updateEvent', event);
							}
							else{
								event.id = -1;
								$('#calendar').fullCalendar('updateEvent', event);
								$('#calendar').fullCalendar('removeEvents', -1);
							}
						}
				});
				//return false; // prevents normal behaviour
				
				 
				/*
				var specificEvent = $('#calendar').fullCalendar('clientEvents', event.id);
				console.log(specificEvent);
				if(specificEvent.id == -1){
					$('#calendar').fullCalendar('removeEvents', specificEvent.id);
				}
				
				
				var clientEvents = $('#calendar').fullCalendar('clientEvents');
				var lastEvent = clientEvents[clientEvents.length-1];
				var lastEventId = clientEvents[clientEvents.length-1].id;
				console.log(lastEvent);
				console.log(lastEvent.id);
				console.log(lastEventId);
				if(lastEvent.id == -1){
					$('#calendar').fullCalendar('removeEvents', lastEvent.id);
					console.log('ENTRE');
				}
				*/
			},
			eventDrop: function(event, delta, revertFunc) {
				/*ACA VA EL CODIGO PARA CUANDO QUIERO MOVER MENUES*/
				$.ajax({
						url: "/menus/" + event.id,
						type: "PUT",
						data: { fecha: event.start.format() },
						dataType: "JSON",
						success: function(resp){
							if(resp.status != 0){
								revertFunc();
							}
						}
				});
    	},
			eventDragStop: function (event, jsEvent, ui, view) {
				/*ACA VA EL CODIGO PARA CUANDO QUIERO ELIMINAR MENUES*/
				if (isElemOverDiv()) {
					$('#calendar').fullCalendar('removeEvents', event.id);
					
					var con = confirm('Are you sure to delete this event permanently?');
				 	if(con == true) {
						/*
						$.ajax({
							url: "/menus/" + event.id,
							type: "DELETE",
							dataType: "JSON",
							success: function(response){
								if(response.status == 'success')
									$('#calendar').fullCalendar('removeEvents');
									$('#calendar').fullCalendar('addEventSource', JSON.parse(json_events));
							},
							error: function(e){
							alert('Error processing your request: '+e.responseText);
							}
					 	});
						*/
					}
				}
			}
			weekends: false,
			fixedWeekCount: false,
			eventSources: [{
	      url: 'menus/get_menus'
	    }],
		});
		
	});

</script>

<div class="col-xs-10 col-xs-offset-1">
  <h1>Administración de Menúes</h1>

	<div id='wrap'>
		<div id='external-events'>
			<h4>Platos Principales</h4>
 			<% @foods_p.each do |food_p| %>
      	<div class='fc-event' data-event='{"foodId": "<%= food_p.id.to_s %>" }'><%= food_p.comida %></div>
			<% end %>
			
			<br />
			<h4>Acompañamientos</h4>
			<% @foods_a.each do |food_a| %>
      	<div class='fc-event' data-event='{"foodId": "<%= food_a.id.to_s %>" }'><%= food_a.comida %></div>
			<% end %>
			
			<br />
			<p>
    		<img src="trash.png" id="trash" alt="">
  		</p>
		</div>
		
		<div id='calendar'></div>
		
		<div style='clear:both'></div>
	</div>
</div>