<script>

	$(document).ready(function() {


		/* initialize the external events
		-----------------------------------------------------------------*/
		$('#external-events .fc-event').each(function() {

			// store data so the calendar knows to render an event upon drop
			$(this).data('event', {
				title: $.trim($(this).text()), // use the element's text as the event title
				stick: true, // maintain when user navigates (see docs on the renderEvent method)
				allDay: true
			});

			// make the event draggable using jQuery UI
			$(this).draggable({
				zIndex: 999,
				revert: true,      // will cause the event to go back to its
				revertDuration: 0  //  original position after the drag
			});

		});



		/* initialize the calendar
		-----------------------------------------------------------------*/

		$('#calendar').fullCalendar({
			header: {
				left: '',
				center: 'title',
				right: 'prev,next today'
			},
	    monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
		  monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
		  dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
		  buttonText: {
	      today: 'Hoy',
	      month: 'month',
	      week: 'week',
	      day: 'day'
	    },
		  dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
			aspectRatio: 1.35,
			editable: true,
			droppable: true, // this allows things to be dropped onto the calendar
			drop: function(date) {
				$(this).remove();
			},
			
			eventReceive: function(event){
				var obj = jQuery.parseJSON( event );
				alert(obj);
				//alert(event.title + " was dropped on " + event.start.format());
			},
			
			eventDrop: function(event, delta, revertFunc) {
				/*************************************************************/
				/*DESDE ACA MANEJO EL UPDATE CUANDO CAMBIO DE FECHA UN EVENTO*/
				/*************************************************************/
        alert(event.title + " was dropped on " + event.start.format());
        if (!confirm("Are you sure about this change?")) {
            revertFunc();
        }
    	},
			//timezone: 'UTC-3',
			weekends: false,
			fixedWeekCount: false,
			eventSources: [{
	      url: 'menus/get_menus'
	    }],
		});
		
	});

</script>

<div class="col-xs-10 col-xs-offset-1">
  <h1>Administración de Menúes</h1>

	<div id='wrap'>
		<div id='external-events'>
			<h4>Platos Principales</h4>
 			<% @foods_p.each do |food_p| %>
      	<div class='fc-event' data-event='{"randomProperty": "foobar"}'><%= food_p.id.to_s + ' - ' + food_p.comida %></div>
			<% end %>
			
			<br />
			<h4>Acompañamientos</h4>
			<% @foods_a.each do |food_a| %>
      	<div class='fc-event' data-event='{"randomProperty": "foobar"}'><%= food_a.id.to_s + ' - ' + food_a.comida %></div>
			<% end %>
		</div>
		
		<div id='calendar'></div>
		
		<div style='clear:both'></div>
	</div>
</div>