<p>Hola <%= @resource.firstname %>!</p>

<p>Se ha solicitado enviarte un mail de Recupero de Contraseña. Podrás resetear tu contraseña haciendo click en el siguiente link: </p>

<p><%= link_to 'Modificar Contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>En caso de que no hayas solicitado este reseteo, podés ignorar este mail.</p>
<p>Su contraseña no será modificado en tanto no ingrese al link anterior e ingrese una nueva contraseña.</p>
